*.gltf filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
client/models/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
client/models/**/*.png filter=lfs diff=lfs merge=lfs -text
